/* ProfilePage.css */

.profile-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-form h1 {
    text-align: center;
    color: #003366;
}

.profile-form input[type="text"],
.profile-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 1px;
}

.validation-message {
    margin-top: 1px;
    color: #d9534f;
    font-size: 0.85rem;
    padding-left: 5px;
}

.avatar-upload {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.upload-button {
    padding: 10px 20px;
    background-color: #388e3c; /* Green color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.upload-button:hover,
.upload-button:focus {
    background-color: #2e7031; /* Darker green */
}

.preview {
    margin-top: 25px;
}

.preview img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.update-btn {
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    background: #388e3c; /* Green color */
    color: #fff;
    outline: none;
}

.update-btn.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666;
}

.update-btn.active {
    background-image: linear-gradient(45deg, #388e3c, #2e7031);
}

.update-btn:not(.disabled):hover {
    background-image: linear-gradient(45deg, #2e7031, #388e3c);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(56, 142, 60, 0.6);
}

.update-btn:not(.disabled):active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(56, 142, 60, 0.5);
}

@media (max-width: 768px) {
    .profile-container {
        padding: 20px 10px;
    }
}
