.homepage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the top */
  min-height: 100vh;
  background-color: #f8f9fa;
  padding-top: 20px;
  /* Add padding to create space at the top */
}

.features-section {
  width: 100%;
}

.feature-card {
  height: 250px;
  /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-card .btn {
  margin-top: auto;
}

.list-view .feature-card {
  width: 100%;
}