.register-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Additional roundness for the form container */
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .register-form h2 {
    text-align: center;
    color: #003366;
  }
  
  .register-form input[type="text"],
  .register-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px; /* More rounded edges for input fields */
    margin-top: 1px;
  }
  
  /* Validation messages */
  .validation-message {
    margin-top: 1px;
    color: #d9534f; /* Error color for messages */
    font-size: 0.85rem;
    padding-left: 5px; /* Aligns text with input fields */
  }
  
  .register-form .avatar-upload {
    text-align: center;
    position: relative; /* For positioning the upload label */
  }
  
  .avatar-upload {
    margin-top: 20px;
  }

  /* Custom upload button */
  .register-form .upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px; /* Rounded button for avatar upload */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .register-form .upload-button:hover,
  .register-form .upload-button:focus {
    background-color: #0056b3;
  }
  
  .register-form .preview {
    margin-top: 25px;
  }
  
  .register-form .preview img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image is not distorted */
  }
  
  .register-btn {
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    background: #007bff; /* Default solid background */
    color: #fff; /* Default text color */
    outline: none; /* Removes the outline to make the custom styles stand out */
  }
  
  .register-btn.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666;
  }
  
  .register-btn.active {
    background-image: linear-gradient(45deg, #006bbf, #009bff); /* Gradient background */
  }
  
  .register-btn:not(.disabled):hover {
    background-image: linear-gradient(45deg, #005cbf, #008bff); /* Slightly darker gradient on hover */
    transform: translateY(-2px); /* Slight upward lift on hover */
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.6); /* Glowing effect */
  }
  
  .register-btn:not(.disabled):active {
    transform: translateY(-1px); /* Slightly pressing down the button when clicked */
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.5); /* Less glow on active to simulate depth */
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .register-container {
      padding: 20px 10px;
    }
  }