
.header {
  background-color: #4caf50; /* Green color */
  padding: 20px;
  color: white;
  text-align: center;
  border-bottom: 2px solid #388e3c;
}

.header a {
  color: #ffffff; /* White color for links */
  text-decoration: none;
  margin: 0 10px;
}

.header a:hover {
  color: #c8e6c9; /* Light green color for hover */
}
